<div *ngIf="(carts | async).shoppingCardItems.length === 0">There is no item in basket</div>
<ul class="list-group" *ngIf="(carts | async).shoppingCardItems.length !== 0">
  <li *ngFor="let product of (carts | async).shoppingCardItems"
      class="list-group-item product d-flex justify-content-between align-items-center">

    <button class="plus-btn" type="button" name="button" (click)="removeItemFromCart(product)">
      <img src="../../../assets/delete-icn.svg" alt=""/>
    </button>

    <span class="name">{{product.name}}</span>

    <span class="quantity">
        <button class="plus-btn" type="button" name="button" (click)="increaseItemCount(product)">
          <img src="../../../assets/plus.svg" alt=""/>
        </button>

        <input type="text" name="quantity" value="{{product.quantity}}" readonly>

        <button class="minus-btn" type="button" name="button" (click)="decreaseItemCount(product)">
          <img src="../../../assets/minus.svg" alt=""/>
        </button>
      </span>

    <span class="price">{{product.price}}</span> TL
  </li>
</ul>
<div class="float-right">
  <span class="total-price"> Total Price: {{(carts | async).sum}}</span> TL
</div>
