<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/" >Angular - NGRX / Günay Gültekin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbars">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/products">Products <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/product/create">Create Products <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item dropdown">
          <a class="nav-item nav-link mr-md-2" (click)="toggleShow()">
            <img _ngcontent-c0="" height="100" src="../assets/shopping-cart-8-64x64.png" width="auto"
                 style="height: 30px;filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);">
          </a>
          <div class="dropdown-menu dropdown-menu-right" ngClass="{{isShowShoppingCart ? 'show' : ''}}" >
            <app-shopping-cart *ngIf="isShowShoppingCart"></app-shopping-cart>
          </div>
        </li>
      </ul>
    </form>
  </div>
</nav>

<div class="container app-container">
  <router-outlet></router-outlet>
</div>
