<table class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col"></th>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Product Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products | async">
    <td><button type="button" class="btn btn-success" (click)="addToShoppingCartList(product)">Add</button></td>
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}TL</td>
  </tr>
  </tbody>
</table>
